body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: mediumpurple;
    text-align: center;
 }

.result {
    background-color: chartreuse;
    padding: 20px;
    border: 1xp solid rgb(136, 100, 237);
    border-radius: 5px;
    box-shadow: 0 0 10px royalblue;
    width: 300px;
}